VITE_FIREBASE_API_KEY=AIzaSyBgm3ugavKm2Bf9vcE98Ay2Q771lhRWzvM
VITE_FIREBASE_AUTH_DOMAIN=fikri-portfolio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fikri-portfolio
VITE_FIREBASE_STORAGE_BUCKET=fikri-portfolio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=369574621557
VITE_FIREBASE_APP_ID=1:369574621557:web:5b0149dc0741fdf0c6e33c
VITE_FIREBASE_MEASUREMENT_ID=

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
